$mainColor: #fafc6d;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #000;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        color: #fff;
    }
    &__name {
        color: #fff;
    }
}

.btn {
    padding: 8px 30px;

    background-color: transparent;
    border-radius: 20px;

    &:hover {
        cursor: pointer;
    }
}



.main {
    background-color: $mainColor;

    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .popup {
        background-color: rgba($color: #3e3e3e, $alpha: .4);

        position: absolute;
        z-index: 1000;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &.close {
            display: none;
        }

        &__form {
            background-color: $mainColor;
            width: 300px;
            height: 300px;

            border: 2px solid #000;
            border-radius: 10%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                border: 2px solid #000;
                background-color: transparent;
                border-radius: 10px;

                &:active,
                &:focus {
                    outline: none;
                }
            }

            
        }

        &__btn {
            margin-top: 20px;
    
            transition: background .3s linear;

            &:hover {
                background-color: #f5f918;
            }
        }

    }

    .wrapper {
        height: 80vh;
        width: 80vh;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
    
        &__item {
            border: 2px solid #000;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 20px;


            &:hover {
                cursor: pointer;
                background-color: #e1e262;
            }

            &.cross::before, &.cross::after {
                content: " ";
                width: 2px;
                height: 100px;
                background-color: #000;
            }

            &.cross::before {
                transform: rotate(45deg);
            }

            &.cross::after {
                transform: rotate(-45deg);
            }

            &.circle::before {
                content: "";
                width: 90px;
                height: 90px;
                border: 3px solid #000;
                border-radius: 100%;
            }
        }
        
    }

    .finish {
        position: absolute;
        z-index: 500;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px 0;

        background-color: rgba($color: #87fa24, $alpha: .6);

        &__title {
            margin-bottom: 20px;
        }

        &.close {
            display: none;
        }
    }

}

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &__author {
        color: #fff;
        padding: 10px 50px;
    }

    &__author a {
        color: $mainColor;
        text-decoration: none;
    }
}